# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Env
.env

# Data (keep mock data tracked, but ignore any generated DB files)
*.sqlite3
*.db

# OS / editor
.DS_Store
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
